@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <h2>Bienvenido @ViewBag.usuario</h2>


</div>


@section MenuOptions{ 
    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>

            @{
                switch (@ViewBag.tipo)
                {
                    case "Administrador":
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Especialidades" asp-action="Index">Especialidades</a>
                        </li>
                            break;
                        }
                    case "Alumno": { break; }
                    case "Docente": { break; }
                }
            }
        </ul>
        <a class="nav-link px-3" asp-area="" asp-controller="Acceso" asp-action="SessionClose">Cerrar Sesion</a>
    </div>
}